h1{font-size: 3rem;    
    font-family: 'Times New Roman', Times, serif;
    color: #192c1f;}
h2{font-size: 2rem;
    color: #36553F}
p{
    font-size: 0.875rem;
    font-family: 'Courier New', Courier, monospace;
    color: #292626}


.column {
    float: left;
    width: 50%;
}
/*Clear floats after the columns*/
.row:after {
    content: "";
    display: table;
    clear: both;
}
/*below makes a responsive layout, so that the columns stack on top of 
eachother when the screen becomes smaller than 600px (so mobile)*/
@media screen and (max-width: 600px) {
    .column {
        width:100%;
    }
}

body {
			background-image: url("knitting_background_compact.png");
			background-repeat: no-repeat;
			background-position: center;
			margin-right: 200px;
			background-attachment: fixed;
		}



/* Extra small devices {phones, 600px and down} */
@media only screen and (max-width: 600px) { 
   h1 {color:red;}
}
/*small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    h1 {color:green;}
}
/* Medium devices {landscape tablets, 768px and up} */
@media only screen and (min-width: 768px) { 
    h1 {color:blue}
}
/* Large devices {laptops/desktops, 992px and up} */
@media only screen and (min-width:992px) {
    h1 {color:orange;}
}
/* Extra large devices {large laptops and desktops, 1200px and up} */
@media only screen and (min-width: 1200px) {
    h1 {color:pink;}
}