/*LAYOUT*/

*::before, *::after { 
    box-sizing: border-box;}



body{ 
    background-color:#EEE4DA;
    box-sizing: border-box;
    border: 15px dotted white;
    height: 100%;}


.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.main {
    display: flex;
    box-sizing: border-box;
    padding: 20px;
    column-gap: 10px;
    justify-content: space-around;
    flex-flow: row wrap;
    align-content: space-evenly;
    align-items: flex-start;
}

.main div {
    width: 50vw;
    flex-grow: 1;

}

@media screen and (max-width: 600px) {
    .column-left {
        width:100vw;
    }
    .column-right {
        width: 100vw;
    }
}


/* HTML: <div class="parallelogram"></div> */
.parallelogram {
  --p: 70vw; /* control the shape (can be percentage) */
  height: 500px;
  aspect-ratio: 3/2;
  clip-path: polygon(var(--p) 0,100% 0,calc(100% - var(--p)) 100%,0 100%);
  background: #EEE4DA;
}

.bg-shape{
    position: relative;
    overflow: hidden;
    padding: 50px;
}

.bg-shape:after {
    content: '';
    position: absolute;
    mask: radial-gradient(40px at 40px 40px,#0000 98%,#000) -40px -40px;
    height: 400px;
    width: 100vw;
    background-color:#496752;
}


/*code for punchcard gotten from css-generators.com (https://css-generators.com/custom-corners/)*/
.punchcard {
    mask: radial-gradient(45px at 45px 45px,#0000 98%,#000) -45px -45px;
    height: 400px;
    width: 100%;
    background-color:#EFB387;
}

.rectangle {
		width: 100%;
		height: 100px;
		background-color: #496752;
	}

/*.punchcard {
  mask: radial-gradient(40px at 40px 40px,#0000 98%,#000) -40px -40px;
  height: 100vh;
  width: 100vw;
  background-color: #EEE4DA;
}*/

/*the code below is from here https://www.w3schools.com/howto/howto_css_two_columns.asp*/
.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .column {
        width:100vw;
    }
}



td {
   padding: 10px;
}
a:link{
    color: #EEE4DA;
}
a:visited{
    color: #EFB387;
}
a:hover{
    background-color: #36553F;
}

.footer {
    display: flex;
    
}


/*TYPOGRAPHY*/

h1{font-size: 3rem;    
    font-family: 'Times New Roman', Times, serif;
    color: #192c1f;
    margin-left: 30px;}
h2{font-size: 2rem;
    color: #36553F;
    margin-left: 50px;}
p{font-size: 0.875rem;
    font-family: 'Courier New', Courier, monospace;
    color: #292626}


img {max-width: 100%;
height: auto;}

/*below is from https://www.w3schools.com/css/css_background_attachment.asp (w3schools)
body {
			background-image: url("images/knitting_background_compact.png");
			background-repeat: no-repeat;
			background-position: center;
			margin-right: 200px;
			background-attachment: fixed;
		}
*/




/*below is css for nav bar - flexbox and center align. from https://www.w3schools.com/css/css_navbar_horizontal.asp*/


nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #496752;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

nav-ul li a {
    display: block;
    color: #EEE4DA;
    padding: 14px 16px;
    text-decoration: none;
}

nav-ul li a:hover {
    background-color: #36553F;
}

nav-ul li a.active {
    background-color: #EFB387;
    color: #292626;
}

@media only screen and (max-width: 600px) {
    nav-ul {flex-direction: column}
}



/*RESPONSIVENESS*/

/* Extra small devices {phones, 600px and down} */
@media only screen and (max-width: 600px) { 
   h1 {font-size: 2rem;}
   h2 {font-size: 1.5rem;}
}
/*small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    h1 {font-size: 2rem;}
    h2 {font-size: 1.5rem;}
}
/* Medium devices {landscape tablets, 768px and up} */
@media only screen and (min-width: 768px) { 
    h1 {font-size: 3rem;}
    h2 {font-size: 2rem;}
}
/* Large devices {laptops/desktops, 992px and up} */
@media only screen and (min-width:992px) {
    h1 {font-size: 3rem;}
    h2 {font-size: 2rem;}
}
/* Extra large devices {large laptops and desktops, 1200px and up} */
@media only screen and (min-width: 1200px) {
    h1 {font-size: 3rem;}
    h2 {font-size: 2rem;}
}